In [ ]:
num_list = [20225, 6, 26, 9, 18]

num_list.sort(reverse=True) # 매서드 inplace 연산으로 인해 원본 데이터를 변경
print(num_list)

[20225, 26, 18, 9, 6]

In [ ]:
num_list2 = [20225, 6, 26, 9, 18]
sorted(num_list2) # 내장 함수 inplace 연산 x, 원본 데이터를 변경x
print(sorted(num_list2)) # 전자와 같이 사용을 하면 정렬이 됨
print(num_list2)

[6, 9, 18, 26, 20225]
[20225, 6, 26, 9, 18]

In [ ]:
# Tuple
# anything = (2026, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

# anything[0] = 2025

TypeError: 'tuple' object does not support item assignment

In [9]:
anything = (2025, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

anything

(2025, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', 'o'])

In [10]:
anything[-1][-1] = '!'

anything

(2025, 'SKN', 17, 3.14, ['h', 'e', 'l', 'l', '!'])

### **문제 1**

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    - `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [2]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0], fruits[2])

apple cherry

### **문제 2**

다음 조건을 만족하는 리스트를 만드세요.

1. `numbers`라는 리스트를 선언하고 숫자 `1`부터 `5`까지 저장하세요.
2. 이 리스트의 **길이**를 출력하세요.

In [3]:
numbers = [1, 2, 3, 4, 5]
print(len(numbers))

5

### **문제 3**

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [5]:
animals = ['cat', 'dog', 'bird']
animals.insert(3, 'fish')
print(animals)

['cat', 'dog', 'bird', 'fish']

### **문제 4**

아래 조건에 맞는 프로그램을 작성하세요.

1. `numbers` 리스트에 숫자 `3, 6, 9`를 저장하세요.
2. 리스트의 첫 번째 요소를 **2배**로 만들어 다시 저장하고, 리스트를 출력하세요.

In [9]:
numbers = [3, 6, 9]
numbers[0] = 6
print(numbers)

[6, 6, 9]

### **문제 5**

아래 문자열을 리스트로 변환하고 결과를 출력하세요.

1. 문자열 `'Python-is-fun'`을 `'-'`를 기준으로 분리하여 리스트로 만드세요.
2. 결과 리스트를 출력하세요.

In [11]:
sent = 'Python-is-fun'
print(sent.split('-'))

['Python', 'is', 'fun']

### **문제 6**

다음 조건에 맞게 **튜플**을 선언하고 활용하세요.

1. `my_tuple`이라는 이름으로 숫자 `10, 20, 30`을 가진 튜플을 선언하세요.
2. `my_tuple`의 두 번째 요소를 출력하세요.

In [12]:
my_tuple = (10, 20, 30)
my_tuple[2]

30

### **문제 7**

아래 조건에 맞게 리스트의 요소를 수정하세요.

1. `colors` 리스트에 `'red', 'blue', 'green'`을 저장하세요.
2. `'blue'`를 `'yellow'`로 변경하고 리스트를 출력하세요.

In [13]:
colors = ['red', 'blue', 'green']
colors[1] = 'yellow'
print(colors)

['red', 'yellow', 'green']

### **문제 8**

아래 조건에 맞는 리스트 내포를 작성하세요.

1. 숫자 `1`부터 `10`까지 중에서 **짝수만**을 추출해 새로운 리스트에 저장하세요.
2. 리스트를 출력하세요.

In [12]:
lst =[i for i in range(1, 11) if i % 2 == 0]
lst

# for i in range(1, 11):
#     if i % 2 == 0:
#         lst = i
#         print(lst)

[2, 4, 6, 8, 10]

### **문제 9**

아래 조건에 맞게 리스트와 문자열을 활용하세요.

1. 리스트 `words`에 `'Life', 'is', 'too', 'short'`를 저장하세요.
2. 리스트의 요소를 공백으로 이어붙여 문자열 `'Life is too short'`를 출력하세요.

In [ ]:
# f-string 사용
words = ['Life', 'is', 'too', 'short']
print(f"{words[0]} {words[1]} {words[2]} {words[3]} ")

# .join() 함수 이용
res = ' '.join(words)
print(res)

Life is too short
Life is too short

### **문제 10**

아래 조건에 맞는 프로그램을 작성하세요.

1. 리스트 `numbers`에 숫자 `1, 2, 3, 4, 5`를 저장하세요.
2. 슬라이싱을 이용하여 다음을 수행하세요:
    - 리스트의 **처음 3개의 요소**를 출력하세요.
    - 리스트의 **마지막 2개의 요소**를 출력하세요.
    - 리스트의 **모든 요소를 역순**으로 출력하세요.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers[:3])
print(numbers[3:])
numbers.reverse()
print(numbers)

[1, 2, 3]
[4, 5]
[5, 4, 3, 2, 1]

### **문제 1**

다음 조건에 맞는 **셋**을 생성하세요.

1. `fruits`라는 셋을 선언하고 `'apple', 'banana', 'cherry'`를 추가하세요.
2. `print()`를 사용하여 `fruits`를 출력하세요.

In [16]:
fruits = {'apple', 'banana'}
fruits.add('cherry')
print(fruits)

{'apple', 'cherry', 'banana'}

### **문제 2**

아래 조건에 따라 셋의 **특정 요소를 제거**하고 결과를 출력하세요.

1. `animals`라는 셋에 `'cat', 'dog', 'bird', 'fish'`를 저장하세요.
2. `'bird'`를 제거한 후, `print()`를 사용해 남은 요소를 출력하세요.

In [18]:
animals = {'cat', 'dog', 'bird', 'fish'}
animals.remove('bird')
print(animals)

{'cat', 'dog', 'fish'}

### **문제 3**

다음 조건에 맞게 **집합 연산**을 수행하세요.

1. `set1`에 `{1, 2, 3}`을 저장하고, `set2`에 `{3, 4, 5}`를 저장하세요.
2. `set1`과 `set2`의 **합집합**을 구해서 출력하세요.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

### **문제 4**

아래 조건을 만족하는 딕셔너리를 생성하세요.

1. `student`라는 이름의 딕셔너리를 선언하고 다음 키-값 쌍을 추가하세요:
    - `'name'`: `'John'`
    - `'age'`: `20`
    - `'major'`: `'Computer Science'`
2. `'age'`의 값을 출력하세요.

In [22]:
student = {'name': 'John', 'age': '20', 'major':'Computer Science'}
print(student['age'])

20

### **문제 5**

아래 조건에 맞게 딕셔너리를 수정하세요.

1. `scores`라는 딕셔너리에 `'math': 80, 'english': 90`을 저장하세요.
2. `'math'`의 값을 `95`로 변경하고 딕셔너리를 출력하세요.

In [23]:
scores = {'math':80, 'english':90}
scores['math'] = 95
print(scores)

{'math': 95, 'english': 90}

### **문제 6**

다음 조건에 맞게 **셋의 메서드**를 활용하세요.

1. `colors1`에 `'red', 'blue', 'green'`을 저장하세요.
2. `colors2`에 `'blue', 'yellow', 'pink'`를 저장하세요.
3. 두 셋의 **교집합**을 구하여 출력하세요.

In [24]:
colors1 = {'red', 'blue', 'green'}
colors2 = {'blue', 'yellow', 'pink'}
print(colors1 & colors2)

{'blue'}

### **문제 7**

다음 조건에 

1. `info` 딕셔너리에 `'name': 'Alice', 'age': 25, 'city': 'Seoul'`을 저장하세요.
2. 메서드를 사용해 딕셔너리의 모든 키를 출력하세요.
3. 메서드를 사용해 딕셔너리의 모든 값을 출력하세요.

In [26]:
info = {'name':'Alice', 'age': 25, 'city': 'Seoul'}
print(info.keys())
print(info.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'Seoul'])

### **문제 8**

다음 조건에 맞게 딕셔너리를 조작하세요.

1. `students` 딕셔너리에 `'student1': 85, 'student2': 90, 'student3': 95`를 저장하세요.
2. `pop()` 메서드를 사용해 `'student2'`의 값을 제거하고, 제거된 값을 출력하세요.

In [30]:
students = {'student1': 85, 'student2': 90, 'student3':95}
students.pop('student2')
print(students)

{'student1': 85, 'student3': 95}

### **문제 9**

아래 조건에 맞는 **셋과 딕셔너리**를 사용하세요.

1. `numbers`라는 셋에 `{1, 2, 3, 4, 5}`를 저장하세요.
2. 딕셔너리 `squares`를 생성하고, 각 숫자를 키로, 숫자의 **제곱값**을 값으로 저장하세요.
3. 딕셔너리를 출력하세요.

In [49]:
numbers = {1, 2, 3, 4, 5}

# Solution1
numbers = list(numbers)

squares = {
    numbers[0] : numbers[0]**2,
    numbers[1] : numbers[1]**2,
    numbers[2] : numbers[2]**2,
    numbers[3] : numbers[3]**2,
    numbers[4] : numbers[4]**2,
}

# Solution2-1
# squares = {}
# for i in numbers:
#     squares[i] = i**2

# Solution2-2
# squares = {num : num**2 for num in numbers}

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### **문제 10**

다음 조건에 맞는 프로그램을 작성하세요.

1. 두 셋 `A = {1, 2, 3, 4}`와 `B = {3, 4, 5, 6}`가 있습니다.
2. `A`와 `B`의 **대칭 차집합**을 구하세요.
3. 결과를 `print()`를 사용해 출력하세요.

In [34]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A^B)

{1, 2, 5, 6}